src/main/resources/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://nayakm.com/soap/product"
           targetNamespace="http://nayakm.com/soap/product"
           elementFormDefault="qualified">

    <!-- Get Product by ID Request -->
    <xs:element name="getProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get Product by ID Response -->
    <xs:element name="getProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get All Products Request -->
    <xs:element name="getAllProductsRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- Empty request -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get All Products Response -->
    <xs:element name="getAllProductsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="products" type="tns:product" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Create Product Request -->
    <xs:element name="createProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:productInput"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Create Product Response -->
    <xs:element name="createProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Product Type (Full) -->
    <xs:complexType name="product">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="createdAt" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="updatedAt" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Product Input Type (For Creation) -->
    <xs:complexType name="productInput">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
